@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,500;0,600;0,700;1,400;1,700&display=swap');

*, ::before, ::after {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: rgb(18, 18, 18);
  color: whitesmoke;
  border: 20px 0px;
}

.link {
  color: white
}

.left {
  font-family: "Raleway", sans-serif;
  background-image: url("../images/banner.jpg");
  background-color: #cccccc;
  float: left;
  position: absolute;
  width: 40%;
  height: 100%;
  background-size: cover;
  z-index: 1; /* Add a higher z-index value */
}

.logo {
  background-color: rgba(36, 35, 43, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  margin: 35% 0%;
  padding: 20px;
}

.logo img {
  width: 100px;
  height: auto;
}

.credit {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  padding: 30px;
}

.right {
  padding: 50px;
  float: right;
  position: absolute;
  left: 45%;
  font-family: "Raleway", sans-serif;
  z-index: 2; /* Add a higher z-index value */
}

.dummy-text {
  padding-top: 75px;
  padding-right: 40px;
  font-weight: 600;
  font-size: 20px;
}

.remote-text {
  padding: 30px 0px;
}

.form p {
  font-size: 22px;
  font-weight: 600;
  padding: 20px 0px;
}

label {
  text-transform: uppercase;
}

.input input {
  width: 100%;
  padding: 5px;
  margin-top: 10px;
}

.form-input {
  display: grid; /* to use css-grid */
  grid-template-columns: 1fr 1fr; /* creates 2 columns */
  min-width: 400px;
  max-width: 440px;
  min-height: 300px;
  max-height: 400px;
  grid-gap: 40px; /* creates a gap between the columns and rows */
  padding-bottom: 24px;
  align-content: center;
  height: 35vh;
}

.login {
  padding: 30px 0px;
}
